<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.mapper.TbBrandMapper">
  <resultMap id="BaseResultMap" type="com.fly.pojo.TbBrand">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="first_char" jdbcType="VARCHAR" property="firstChar" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand_name, first_char
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_brand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_brand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fly.pojo.TbBrand">
    insert into tb_brand (id, brand_name, first_char
      )
    values (#{id,jdbcType=BIGINT}, #{brandName,jdbcType=VARCHAR}, #{firstChar,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fly.pojo.TbBrand">
    insert into tb_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="firstChar != null">
        first_char,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="firstChar != null">
        #{firstChar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fly.pojo.TbBrand">
    update tb_brand
    <set>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="firstChar != null">
        first_char = #{firstChar,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fly.pojo.TbBrand">
    update tb_brand
    set brand_name = #{brandName,jdbcType=VARCHAR},
      first_char = #{firstChar,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.fly.pojo.TbBrand">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="first_char" jdbcType="VARCHAR" property="firstChar" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand_name, first_char
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_brand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_brand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fly.pojo.TbBrand">
    insert into tb_brand (id, brand_name, first_char
      )
    values (#{id,jdbcType=BIGINT}, #{brandName,jdbcType=VARCHAR}, #{firstChar,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fly.pojo.TbBrand">
    insert into tb_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="firstChar != null">
        first_char,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="firstChar != null">
        #{firstChar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fly.pojo.TbBrand">
    update tb_brand
    <set>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="firstChar != null">
        first_char = #{firstChar,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fly.pojo.TbBrand">
    update tb_brand
    set brand_name = #{brandName,jdbcType=VARCHAR},
      first_char = #{firstChar,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>